<form class='row card mt-2' id='edit-blog-form' data-id='{{id}}'>
  <div class='card-header edit-blog-header'><h5>{{title}}</h5></div>
  <div class='card-body'>
    <textarea id='edit-blog-textarea' class='card-text'>{{content}}</textarea>
  </div>
  <div class='card-footer text-muted'>
    <button
      id='edit-blog-save-button'
      class='btn btn-info'
      data-id='{{id}}'
    ><strong>Save Post</strong></button>
  </div>

</form>
<script src='/js/edit-blog.js'></script>